<h3>Defined Words</h3>
<% if @definitions.any? %>
  <ul>
    <% @words.each do |word| %>
      <% if word.definitions.length > 0 %>
        <li><a href="/word/<%= word.id %>"><%= word.word %></a></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>There are no words yet defined!</p>
<% end %>
<hr>
<h3>Undefined Words</h3>
<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <% if word.definitions.length == 0 %>
        <li><a href="/word/<%= word.id %>"><%= word.word %></a></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No words have been added!</p>
<% end %>
<hr>
<form action="/word/new" method="get">
  <button type="submit" class="btn btn-info">Add a new word!</button>
</form>